@media only screen and (min-width: 576px) {
    
}

h1 {
    font-family: 'Chango', cursive;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: white;
    margin-top: 10px;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

#button {
    background-color: dodgerblue;
    color: #ffffff;
    border: none;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
    cursor: pointer;
    width: 75%;
    border-radius: 80px;
    margin-top: 20px;
    height: 60px;
    
}


.box {
    background-image: url(../img/notepad.png);
    width: 45rem;
    height: auto;
    background-size: cover;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}


input {
    width: 100%;
    height: 2rem;
    border-radius: 50px;
}

#content {
    width: 75%;
    border-radius: 80px;
    margin-top: 20px;
    height: 55px;
    
}

.foot-nav {
    display: flex;
    justify-content: center;
    justify-content: space-around; 
    font-size: 3rem;
    color: aqua;
}

li {
    color: black;
    text-align: center;
    list-style-type: none;
    font-size: 2rem;
}

html {
    display: flex;
    justify-content: center;
}


img {
    width: 200px;
    height: auto;      
}


#feedback {
    color: red;
    font-size: 2rem;
}
